In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("ocorrencia_2010_2020.csv", parse_dates=['ocorrencia_dia'], dayfirst=True)
df

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0.0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0.0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0.0
...,...,...,...,...,...,...,...,...,...
5747,79804,79804,INCIDENTE,CAMPINAS,SP,SBKP,2020-12-29,19:00:00,0.0
5748,79757,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,****,2020-12-30,18:30:00,0.0
5749,79802,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30,00:54:00,0.0
5750,79756,79756,INCIDENTE GRAVE,VICENTINA,MS,****,2020-12-31,09:00:00,0.0
5751,79844,79844,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN

In [3]:
df.loc[1,'ocorrencia_cidade'] ##linha e coluna para localização do dado

'BELÉM'

In [4]:
df.loc[1:3] ##localização da linha

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0.0

In [5]:
df.loc[[10,40]] ##localização não sequencial necessita tratar como lista

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
10,39789,39789,INCIDENTE,SÃO PEDRO DO SUL,RS,****,2010-01-10,21:30:00,0.0
40,39158,39158,INCIDENTE,BELÉM,PA,****,2010-01-28,16:00:00,0.0

In [6]:
df.loc[:,'ocorrencia_cidade'] ##linha label inicial e final(:) e a coluna

0           RIO DE JANEIRO
1                    BELÉM
2           RIO DE JANEIRO
3       LUCAS DO RIO VERDE
4                  PELOTAS
               ...
5747              CAMPINAS
5748     LAGOA DA CONFUSÃO
5749        RIO DE JANEIRO
5750             VICENTINA
5751                   NaN
Name: ocorrencia_cidade, Length: 5752, dtype: object

In [7]:
df.codigo_ocorrencia.is_unique ##verificar valor unico

True

In [8]:
df.set_index('codigo_ocorrencia', inplace=True) ## mostrar como label, inplace modifica

In [9]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
codigo_ocorrencia,,,,,,,,
40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0.0
40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0
40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0
39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0.0
40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0.0

In [10]:
df.loc[40351]

codigo_ocorrencia2                        40351
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                RIO DE JANEIRO
ocorrencia_uf                                RJ
ocorrencia_aerodromo                       SBRJ
ocorrencia_dia              2010-01-03 00:00:00
ocorrencia_hora                        03:00:00
total_recomendacoes                         0.0
Name: 40351, dtype: object

In [11]:
df.reset_index(drop=True, inplace=True) ##reseta o label

In [12]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0.0
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0.0
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0.0

In [13]:
df.loc[0,'ocorrencia_aerodromo']='' ## se não colocar a coluna muda a linha inteira, possivel em coluna tbm df.loc[:,'ocorrencia_cidade']=''

df['ocorrencia_classificacao_bkp'] = df.ocorrencia_classificacao ##backup de coluna

In [14]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03,12:00:00,0.0
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0.0
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0.0

In [15]:
df.loc[df.ocorrencia_uf == 'SP', ['ocorrencia_classificacao']] = 'GRAVE' ##filtro, podendo mais filtros e mudar mais colunas

In [16]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03,12:00:00,0.0
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0.0
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0.0
...,...,...,...,...,...,...,...,...
5747,79804,GRAVE,CAMPINAS,SP,SBKP,2020-12-29,19:00:00,0.0
5748,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,****,2020-12-30,18:30:00,0.0
5749,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30,00:54:00,0.0
5750,79756,INCIDENTE GRAVE,VICENTINA,MS,****,2020-12-31,09:00:00,0.0
5751,79844,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN

In [17]:
df.loc[df.ocorrencia_uf == 'SP']

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
11,40069,GRAVE,SÃO PAULO,SP,SBMT,2010-01-10,14:50:00,8.0
16,39809,GRAVE,SÃO PAULO,SP,****,2010-01-15,15:00:00,0.0
18,39828,GRAVE,SANTOS,SP,****,2010-01-15,17:45:00,0.0
26,39847,GRAVE,SOROCABA,SP,****,2010-01-20,13:10:00,0.0
27,39768,GRAVE,CAMPINAS,SP,****,2010-01-21,20:45:00,0.0
...,...,...,...,...,...,...,...,...
5704,79739,GRAVE,SÃO PAULO,SP,SBSP,2020-12-03,14:42:00,0.0
5705,79705,GRAVE,SOROCABA,SP,SDCO,2020-12-04,15:30:00,0.0
5715,79718,GRAVE,SÃO PAULO,SP,SBMT,2020-12-11,13:50:00,0.0
5742,79800,GRAVE,SÃO PAULO,SP,SBMT,2020-12-28,10:15:00,0.0
5747,79804,GRAVE,CAMPINAS,SP,SBKP,2020-12-29,19:00:00,0.0

In [18]:
df.loc[df.ocorrencia_aerodromo =='****',['ocorrencia_aerodromo']] = pd.NA ##not available do pandas

In [19]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03,12:00:00,0.0
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0.0
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0.0
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0.0
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0.0
...,...,...,...,...,...,...,...,...
5747,79804,GRAVE,CAMPINAS,SP,SBKP,2020-12-29,19:00:00,0.0
5748,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,<NA>,2020-12-30,18:30:00,0.0
5749,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30,00:54:00,0.0
5750,79756,INCIDENTE GRAVE,VICENTINA,MS,<NA>,2020-12-31,09:00:00,0.0
5751,79844,INCIDENTE,NaN,NaN,NaN,NaT,NaN,NaN

ocorrencia_uf
**
ocorrencia_aerodromo
###!
####
****
*****
ocorrencia_hora
NULL

In [20]:
df.replace(['###!','####','**','****','*****','NULL'], pd.NA, inplace=True) ## modifica uma lista

In [21]:
df.isna().sum() ## somar os não informados pode usar df.isnull()

codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade             12
ocorrencia_uf                 13
ocorrencia_aerodromo        2354
ocorrencia_dia                12
ocorrencia_hora               13
total_recomendacoes           12
dtype: int64

In [22]:
df.fillna(0, inplace = True) ##colocar valor no na

In [23]:
df.isna().sum()

codigo_ocorrencia2          0
ocorrencia_classificacao    0
ocorrencia_cidade           0
ocorrencia_uf               0
ocorrencia_aerodromo        0
ocorrencia_dia              0
ocorrencia_hora             0
total_recomendacoes         0
dtype: int64

df.fillna(value={'COLUNA':VALOR}, inplace=True) ##mudar valor na de uma seleção

In [24]:
df['total_recomendacoes_bkp'] = df.total_recomendacoes

In [25]:
df.drop(['total_recomendacoes_bkp'], axis=1, inplace = True) ##apagar axis 0 é linha axis 1 coluna

df.dropna() retirando todos os valores NA, a linha toda
df.dropna(subset=['COLUNA')

In [26]:
df.replace([0], pd.NA, inplace=True)

In [27]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,<NA>
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03 00:00:00,11:05:00,<NA>
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,<NA>
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04 00:00:00,17:30:00,<NA>
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,<NA>
...,...,...,...,...,...,...,...,...
5747,79804,GRAVE,CAMPINAS,SP,SBKP,2020-12-29 00:00:00,19:00:00,<NA>
5748,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,<NA>,2020-12-30 00:00:00,18:30:00,<NA>
5749,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30 00:00:00,00:54:00,<NA>
5750,79756,INCIDENTE GRAVE,VICENTINA,MS,<NA>,2020-12-31 00:00:00,09:00:00,<NA>
5751,79844,INCIDENTE,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [28]:
df.dropna(subset=['ocorrencia_uf']) ##subset filtrando pela coluna

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,<NA>
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03 00:00:00,11:05:00,<NA>
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,<NA>
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04 00:00:00,17:30:00,<NA>
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,<NA>
...,...,...,...,...,...,...,...,...
5746,79769,INCIDENTE GRAVE,MANOEL URBANO,AC,SIMB,2020-12-29 00:00:00,18:30:00,<NA>
5747,79804,GRAVE,CAMPINAS,SP,SBKP,2020-12-29 00:00:00,19:00:00,<NA>
5748,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,<NA>,2020-12-30 00:00:00,18:30:00,<NA>
5749,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30 00:00:00,00:54:00,<NA>
5750,79756,INCIDENTE GRAVE,VICENTINA,MS,<NA>,2020-12-31 00:00:00,09:00:00,<NA>

In [29]:
df ##seminplace=True é apenas uma visualização

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,<NA>
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03 00:00:00,11:05:00,<NA>
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,<NA>
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04 00:00:00,17:30:00,<NA>
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,<NA>
...,...,...,...,...,...,...,...,...
5747,79804,GRAVE,CAMPINAS,SP,SBKP,2020-12-29 00:00:00,19:00:00,<NA>
5748,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,<NA>,2020-12-30 00:00:00,18:30:00,<NA>
5749,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30 00:00:00,00:54:00,<NA>
5750,79756,INCIDENTE GRAVE,VICENTINA,MS,<NA>,2020-12-31 00:00:00,09:00:00,<NA>
5751,79844,INCIDENTE,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [30]:
df.drop_duplicates() ##tirar duplicatas

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,<NA>
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03 00:00:00,11:05:00,<NA>
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,<NA>
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04 00:00:00,17:30:00,<NA>
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,<NA>
...,...,...,...,...,...,...,...,...
5747,79804,GRAVE,CAMPINAS,SP,SBKP,2020-12-29 00:00:00,19:00:00,<NA>
5748,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,<NA>,2020-12-30 00:00:00,18:30:00,<NA>
5749,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30 00:00:00,00:54:00,<NA>
5750,79756,INCIDENTE GRAVE,VICENTINA,MS,<NA>,2020-12-31 00:00:00,09:00:00,<NA>
5751,79844,INCIDENTE,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>